<div class="About-container">
	<div class="About-title" id="About">
		<h1 class="About-title-title">About</h1>
		<button class="About-title-button">
			<img class="About-title-img-button" src="./img/icons/elem_right.png" width="66px">
		</button>
	</div>
	<div class="Abaut-paragraph-container">
		<p class="About-paragraph">The OUR1 Art Foundation is a nonprofit exhibition space that
			encourages the
			appreciation of contemporary art among
			diverse audiences. Founded in 2008 by art patron and philanthropist Glenn Fuhrman, OUR1
			presents
			rotating exhibitions
			that include artworks borrowed from a variety of sources. OUR1 invites a broad range of
			creative
			individuals to curate
			thematic group shows and works in-depth with artists to provide curatorial support and a
			platform to
			realize solo
			exhibitions.</p>
		<img class="Abaut-paragraph-img" src="./img/icons/clyacks_white.png" width="480px">
	</div>
	<div class="About-next-info">
		<div class="About-background-img"></div>
		<div class="About-twosector">
			<div class="About-next-info-title">
				<div class="About-next-info-title-img">
					<p>Art</p>
				</div>
				<h1 class="About-next-info-title-text">The OUR1
					<br>&ensp; Foundation
				</h1>
			</div>
			<ul class="About-next-list" id="Contacts">
				<li class="About-next-info-item">
					<img src="./img/icons/cklyack_icon.png">
					<p>Hours: Wednesday-Saturday, 11 AM-5 PM</p>
				</li>
				<li class="About-next-info-item">
					<img src="./img/icons/cklyack_icon.png">
					<p>545 West 25th Street, New York</p>
				</li>
				<li class="About-next-info-item">
					<img src="./img/icons/cklyack_icon.png">
					<p>info@flagartfoundation.org</p>
				</li>
				<li class="About-next-info-item">
					<img src="./img/icons/cklyack_icon.png">
					<p>(212) 206-0220</p>
				</li>
			</ul>
		</div>
		<div class="visit-conteiner">
			<h2 class="visit-conteiner-title">Plan Your Visit</h2>
			<form class="visit-form">
				<label class="visit-label" for="Name">
					<input class="visit-input" type="text" name="Name" placeholder="&nbsp;" autocomplete="name">
					<span class="label-text">Your Name</span>
				</label>
				<label class="visit-label" for="Email">
					<input class="visit-input" type="email" name="Email" placeholder="&nbsp;" autocomplete="email">
					<span class="label-text">Your Email</span>
				</label>
				<label class="visit-label" for="Number">
					<input class="visit-input" type="number" name="Number" placeholder="&nbsp;"
						autocomplete="cc-number">
					<span class="label-text">Your phone
						number</span>
				</label>
				<button type="submit" class="visit-button">To Plan
					<img class="title-button-img" src="./img/icons/elem.png" width="48px">
				</button>
			</form>
		</div>
	</div>
</div>