<header class="header" data-menu-header>
  <button class="header-button" data-menu-open>Menu
    <img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
  </button>
  <nav id="Home">
    <ul class="navigation-list">
      <li class="navigation-item"><a href="#Event">Events</a></li>
      <li class="navigation-item"><a href="#Exhibition">Exhibitions</a></li>
      <li class="navigation-item"><a href="#Catalogue">Catalogue</a></li>
    </ul>
  </nav>
  <img class="header-logo" src="./img/vector logo.png">
  <ul class="navigation-icons">
    <li class="nav-icons-item">
      <svg class="nav-icons-item-svg" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#instagram"></use>
      </svg>
    </li>
    <li class="nav-icons-item">
      <svg class="nav-icons-item-svg" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#facebook"></use>
      </svg>
    </li>
    <li class="nav-icons-item">
      <svg class="nav-icons-item-svg" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#x"></use>
      </svg>
    </li>
  </ul>
</header>