<header class="header">
  <button class="header-button" data-menu-open>Menu
    <img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
  </button>
  <nav>
    <ul class="navigation-list">
      <li class="navigation-item">Events</li>
      <li class="navigation-item">Exhibitions</li>
      <li class="navigation-item">Catalogue</li>
    </ul>
  </nav>
  <img class="header-logo" src="./img/vector logo.png">
  <ul class="navigation-icons">
    <li class="nav-icons-item">
      <svg class="nav-icons-item-svg" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#instagram"></use>
      </svg>
    </li>
    <li class="nav-icons-item">
      <svg class="nav-icons-item-svg" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#facebook"></use>
      </svg>
    </li>
    <li class="nav-icons-item">
      <svg class="nav-icons-item-svg" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#x"></use>
      </svg>
    </li>
  </ul>
</header>