<div class="backdrop1" data-menu>
	<div class="mobile-menu" data-menu>

		<ul class="mobile-nav-list">
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#Home">Home
					<img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
				</a>
			</li>
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#Event">
					Event
					<img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
				</a>
			</li>

			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#Exhibition"> Exhibitions
					<img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
				</a>
			</li>
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#Catalogue"> Catalogue
					<img class="header-button-icon" width="14px" src="./img/icons/downRight.png"> </a>
			</li>

			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#About"> About
					<img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
				</a>
			</li>

			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#Contacts"> Contacts
					<img class="header-button-icon" width="14px" src="./img/icons/downRight.png">
				</a>
			</li>
		</ul>
	</div>
</div>