<div class="About-container Pastexhibit">
	<div class="About-title">
		<h1 class="About-title-title" id="Exhibition">Past exhibitions</h1>
		<button class="About-title-button pastexb">
			<img class="About-title-img-button" src="./img/icons/elem_right.png" width="66px">
		</button>
	</div>
	<ul class="pastexb" id="pastexb">

	</ul>
	<div class="button-list-scroll">
		<button class="right-button">
			<svg class="scroll-svg" width="30" height="30">
				<use href="./img/icons/symbol-defs.svg#arrow-left-outline"></use>
			</svg></button>
		<button class="right-button">
			<svg class="scroll-svg" width="30" height="30">
				<use href="./img/icons/symbol-defs.svg#arrow-right-outline"></use>
			</svg></button>
	</div>
	<div class="About-background-img pastexhibit"></div>
</div>