<img class="background-img" src="./img/image 175.jpg" height="800px">
		<!-- <img class="background-img-mobile" src="/img/elem-logo (2).png" width="680px"> -->

		<div class="main-titles">
			<h1 class="title-site">The OUR1
				<br>Art Foundation
			</h1>
			<p class="paragraph">an exhibition space that encourages dialogue about contemporary art among its
				audience.
			</p>
			<div class="button-block">
				<button class="title-button">See the catalogue
					<img class="title-button-img" src="./img/icons/elem.png" width="24px">
				</button>
				<button class="title-button white">Visit
					<img class="title-button-img" src="./img/icons/elem (1).png" width="24px">
				</button>
			</div>

			<div class="title-informations-container">
				<div class="title-informations-item">
					<h2 class="title-informations-item-title">
						<img src="./img/icons/ellipse.png" width="92px">
					</h2>
					<p class="title-informations-item-paragraph">Articles and reviews about <span
							class="title-informations-item-paragraph-span">OUR1</span> exhibitions, events, master
						classes</p>
				</div>
				<div class="title-informations-item">
					<h2 class="title-informations-item-title">500+</h2>
					<p class="title-informations-item-paragraph luster">Artists from around the world participated
						in
						personal
						and thematic group exhibitions</p>
				</div>
			</div>
		</div>
