/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./title.css');
@import url('./events.css');
@import url('./pastexhibitions.css');
@import url('./catalogue.css');
@import url('./about.css');
@import url('./footer.css');
@import url('./mobile_menu.css');
@import url('./modal.css');




:root {
  --index: calc(1vw + 1vh);
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

* {
  /* border: 1px solid black; */
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Unbounded', sans-serif;
  color: var(--body-text-cl);
  font-size: 16px;
  position: relative;
  background-image: url('../img/elem-logo\ \(2\).png');
  background-repeat: no-repeat;
  background-position-y: calc(var(--index)*-19);
  background-position-x: calc(var(--index)*2);
  background-size: calc(var(--index)*50);
}

@media only screen and (min-width: 768px) {
  body {
    background-position-y: calc(var(--index)*-22);
    background-position-x: calc(var(--index)*16);
    background-size: calc(var(--index)*50);
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: none;
  }
}

html {
  scroll-behavior: smooth;
}